/*
html,
body {
  min-height: 100vh;
  background-color: #f5f5f5;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.body-administrador {
  background-color: #282828;
  color: #f5f5f5;
}



/* Bootstrap code * /
.form-signin {
  max-width: 330px;
  padding: 15px;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}


/* Nav bar * /
.icon__log-in {
    padding: 1.5rem;
}

.nav {
    display: flex;
    justify-content: flex-end;
    padding: 1rem 1rem;
}
.nav_item {
    list-style: none;
}


/* Vista Inicio * /
.icon_nav {
  padding-right: .5rem;
} 

.vista__inicio {
  background: #f5f5f5;
  height: 100vh;
  width: 100%;
}

/* Grids * /
.grid {
  display: grid;
}

.grid--1x2 {
  grid-template-columns: repeat(2, 1fr);
}

.grid--1x3 {
   grid-template-columns: repeat(3, 1fr);
}

.vistaPacientes1 {
  background: #f5f5f5;
  height: 100vh;
  width: 100%;
  align-content: center;
  align-items: start;
  justify-content: center;
  justify-items: center;
  grid-template: repeat(2, auto) / 40fr 60fr;
  padding-left: 30px;
  padding-top: 30px;
  padding-right: 50px;
  padding-bottom: 30px;

}

.containerr { 
  margin: 0 !important;
  background: #f5f5f5;
  height: 50vh;
  width: 100%;
  padding: 1rem .5rem ;
  grid-template: repeat(2, auto) / 40fr 60fr;
  gap: 30px;
  align-items: start;
  justify-items: auto;
}

/* Media Objects * /
.media {
  display: flex;
  padding-bottom: 1.5rem;
}

.media__body {
  margin: 0 1rem;
}

/* Historia clinica section * /
.historia-clinica {
  margin: .5rem;
}

.historia-clinica__heading {
  margin:0 0 4rem 0;
}

*/


:root {
  --color-primary: #018abd;
  --color-secondary: #97cbdc;
  --color-headings: #004581;
  --color-body: #918ca4; 
  --color-border: #ccc;  
  --border-radius: 6px;
}

*, 
*::after,
*::before {
  box-sizing: border-box;
}

/* Typography*/
html {
  font-size: 62.5%;
}
 
body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: var(--color-body);
  font-size: 2.5rem;
  line-height: 1.5;
}

h1, 
h2, 
h3 {
  color: var(--color-headings);
  margin-bottom: 1rem;
}

h1 {
  font-size: 7rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 3rem;
}

p {
  margin-top: 0;
}

@media screen and (min-width: 1024px) {
  body {
    font-size: 1.8rem ;
  }

  h1 {
    font-size: 7.5rem;
  }

  h2 {
    font-size: 5rem;
  }

  h3 {
    font-size: 2.5rem;
  }
}

/* Icons */
.icon--primary {
  color: var(--color-headings);
}

/* Buttons*/
.btn {
  font-size: 1rem; 
  font-weight: 600;
  text-transform: uppercase;
  padding: .4rem .6rem;
  border: 0;
  border-radius: var(--border-radius);
  cursor: pointer;
  white-space: nowrap;
  text-align: center;
}

.btn--primary {
  background: var(--color-primary);
  color: rgba(255, 255, 255, 0.9);
}

.btn--primary:hover {
  background: #0b698b;
}

.btn--secondary {
  background: var(--color-secondary);
  color: #ffff;
  height: 30px;
  font-size: 1rem;
  align-self: center;
}

.btn--secondary:hover {
  background: #0396a6
}

@media screen and (min-width: 1024px) {
  .btn--primary {
    font-size: 1.5rem;
  }

  .btn--secondary {
    font-size: 1.5rem;
  }
}

/* Inputs */
.input--comment {
  padding: .4rem 1rem;
  width: 300px;
  font-size: 1.1rem;
  border: 1px solid var(--color-border);
  border-radius: var(--border-radius);
  outline: 0;
  color: var(--color-body);
}

::placeholder {
  color: var(--color-secondary);
  font-size: 1.4rem;
}

.input-group {
  padding: .5rem .5rem;
  height: 50px;
  border: 1px solid var(--color-border);
  border-radius: var(--border-radius);
  display: flex;
}
.input-group .input--comment {
  border: 0;
  flex-grow: 1;
}

@media screen and (min-width: 1024px) {
  .input--comment {
    font-size: 1.5rem;
  }

  ::placeholder {
    font-size: 2rem;
  }

  .fa-1x {
    font-size: 2em;
  }
}

/* Media */
.media-doctors {
  display: flex;
}

.media__image {
  margin-top: .5rem;
}
.media__name {
   margin-top: 0;
   margin-bottom: 0;
   font-size: 2.6rem;
}

.media__date {
  font-size: 1.4rem;
  margin-bottom: 0;
}

.media__body {
  margin: 0 1.5rem;
}

@media screen and (min-width: 1024px) {
  .media__name {
    font-size: 2rem;
 }
 
 .media__date {
   font-size: 1rem;
 }

 .media__body {
  margin: 0 .5rem;
}
}

/* Grids */
.grid {
  display: grid;
  gap: 10px;
  padding: 10px;
  }

.grid--2x2 {
  display: grid;
  gap: 10px;
  padding: 10px;
  grid-template-columns: 80% 20%;
  grid-template-rows: 1fr 100%;
}

@media screen and (min-width: 768px) {
  .item1 { 
    grid-area: barraEstado; 
  }
  .item2 { 
    grid-area: avisos; 
  }
  .item3 { 
    grid-area: comentarios; 
  }
  .item4 { 
    grid-area: citas; 
  }
  .grid {
    grid-template-areas:
      'barraEstado barraEstado'
      'avisos comentarios'
      'citas citas';
    }
  .grid--3x2 {
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;

  }
}


/* Comment-group*/
.itemUser { 
  grid-area: user; 
}
.itemButton { 
  grid-area: button; 
  align-self: auto;
}
.itemComment { 
  grid-area: comment; 
  font-size: 1.6rem;
}

.comment__color {
  color: #0396a6;
}

.comment-group {
  grid-template-areas:
      'user button'
      'comment comment';
}
