<div class="grid--2x2 comment-group">
  <div class="media-doctors itemUser">
    <div class="media__image">
      <div class="icon--primary">
        <i class="fa-solid fa-circle-user fa-2x comment__color"></i>
      </div>
    </div>
    <div class="media__body">
      <h3 class="media__name comment__color">Oralis</h3>
      <p class="media__date">ACTUAL DATE</p>
    </div>
  </div>

  <button class="btn btn--secondary itemButton">Responder</button>

  <p class="itemComment">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate aliquid
    doloremque velit laborum accusamus est. Lorem ipsum dolor sit, amet
    consectetur adipisicing elit. Voluptas voluptatibus blanditiis hic unde
    harum adipisci odit ea repellat aut ullam!
  </p>
</div>
