<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Icons -->
    <script
      src="https://kit.fontawesome.com/18365ec15f.js"
      crossorigin="anonymous"
    ></script>
    <title>vista_pacientes_expedienteClinico</title>
  </head>
  <body>
    <section class="grid_pacientes_expediente grid_pacientes_expediente--2x2">
      <div class="itemPaciente">
        <div class="">
          <div class="media-pacient_expediente">
            <div class="media__image_expediente">
              <div>
                <i class="fa-solid fa-circle-user fa-2x"></i>
              </div>
            </div>
            <div class="media_rightSide">
              <h1 class="media__name_expediente">Samuel Néstor Apóstol</h1>
              <h2 class="media__data_expediente">
                EDAD: 26 | PESO: 80kg | TALLA: 1.73m
              </h2>
            </div>
          </div>
        </div>
        <div>
          <button class="btn btn_expediente_crearConsulta">
            Crear nueva consulta
          </button>
        </div>
      </div>
      <div class="itemResumen"></div>
      <div class="itemExpediente"></div>
    </section>

    <script src="/js/main.js"></script>
  </body>
</html>
